<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FratelliMuraca</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/fratellimuracadb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>control.ProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>control.ImageServlet</servlet-class>
  </servlet>

  <!-- Configurazione della servlet EnvLoaderServlet -->
    <servlet>
        <servlet-name>EnvLoaderServlet</servlet-name>
        <servlet-class>control.EnvLoaderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

  <!---->
  
  	<!-- FILTRO DELLE JSP -->
  	<filter>
	    <filter-name>JSPBlockerFilter</filter-name>
	    <filter-class>filter.JSPBlockerFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>JSPBlockerFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- FILTRO UTENTI -->
	<filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  
    
	<!-- Errore 400: Richiesta non valida (Bad Request) -->
    <error-page>
        <error-code>400</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 401: Non autorizzato (Unauthorized) -->
    <error-page>
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 403: Accesso vietato (Forbidden) -->
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 404: Risorsa non trovata (Not Found) -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 405: Metodo non permesso (Method not allowed) -->
    <error-page>
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 418: I'm a teapot -->
    <error-page>
        <error-code>418</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 500: Errore interno del server (Internal Server Error) -->
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 502: Gateway errato (Bad Gateway) -->
    <error-page>
        <error-code>502</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Errore 503: Servizio non disponibile (Service Unavailable) -->
    <error-page>
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Eccezioni generiche: Tutti i tipi di eccezioni Java non catturate -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
	
</web-app>